BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
LineEnding: LF

# Spaces
Cpp11BracedListStyle: Block # { ... }
NamespaceIndentation: All

# Line Breaks
AllowShortFunctionsOnASingleLine: Empty
BreakAfterOpenBracketFunction: true
BreakBeforeBinaryOperators: All
BreakBeforeCloseBracketFunction: true
BreakBinaryOperations:
  PerOperator:
    - Operators: ['&&', '||']
      Style: OnePerLine
BreakTemplateDeclarations: Yes
PackArguments:
  BinPack: OnePerLine
PackConstructorInitializers: NextLineOnly
PackParameters:
  BinPack: OnePerLine

# Alignment
PointerAlignment: Left
QualifierAlignment: Left

# Others
FixNamespaceComments: false
